.buttonbar{
    position: fixed;
    top: 150px;
    right: 20px;
    ul{
        display: flex;
        flex-direction:  column;
        justify-content: right;
        .btn{
            width: 100%;
        }
    }
}