{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "globals": {
    "process": true
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "strict": 0,
    "no-debugger": 0,
    "no-unused-vars": 0,
    "no-process-env": 0,
    "no-console": 1,
    "semi": ["error", "always"],
    "allowImportExportEverywhere": true,
    "comma-dangle": [
      1,
      {
        //when to use the last comma
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "react/display-name": [0],
    // "react/jsx-indent": ["error", 4],
    "react/prop-types": [2]
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
