@import '../theme/style.scss';
    .btn-group{
        align-items: center;
    }
    b{
        word-wrap: break-word;
    }
    .deduction-description{
        width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
    }