@import '../theme/style.scss';
.jc-button{
    position: relative;
    .btn-tooltip{
       background: black;
       display: none;
       color: white;
       padding: 5px;
       position: absolute;
       &.left{
            transform: translateX(-100%);
            left: -7px;
            top: 0;
       }
       &.right{
            transform: translateX(-100%);
           right: -7px;
           top: 0;
       }
       &.top{
            transform: translateX(-50%);
            left: 0;
            top: -30px;
       }
    }
    &.with-note:before{
        content: ' ';
        background: red;
        width: 8px;
        height: 8px;
        bottom: -4px;
        right: -4px;
        position: absolute;
        border-radius: 100%;
    }
    &.with-note.left:hover:after{ //arrow right (the oposite)
        content: ' ';
        position: absolute;
        bottom: 4px;
        left: -10px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid black;
    }
    &.with-note.right:hover:after{ //arrow left (the oposite)
        content: ' ';
        position: absolute;
        bottom: 4px;
        right: -10px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 7px solid black;
    }
    &:hover{
        .btn-tooltip{
            display: inline-block;
        }
    }
}