@import '../theme/style.scss';
.dashboard_box{
    &.collapsable{
        .header{
            cursor: pointer;
        }
        .header h1:hover,.header h2:hover{
            background: $green-200;
        }
        height: auto;
        .hidden{ height: 0; visibility: hidden; }
        transition: height 0.2s ease-out;
    }
    .header{
        .header-title{
            width: 100%;
            border: 1px solid $green-600;
            // border-radius: 0px;
            padding: 5px 5px 5px 10px;

            .badge{
                margin: 3px;
                background: #000000;
                color: white;
                padding: 5px 15px;
                border-radius: 10px;
                font-size: 13px;
            }
        }
    }
    .kpi{
        text-align: center;
        border-radius: 50%;
        background: $green-600;
        color: white;
        padding-top: 14px;
        margin: 0px auto 15px auto;
        width: 50px;
        height: 50px;
        display: block;
    }
    .content{
        padding: 10px 0px 10px 20px;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 130px;
    }
    .bar{
        border-bottom: 1px solid $green-600;
        display: inline-block;
        width: 100%;
    }
}