@import '../theme/style.scss';
$avatarDefaultSize: 35px;
.avatar{
    min-height: $avatarDefaultSize;
    min-width: $avatarDefaultSize;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eaffe6;
    background-size: contain;
    border-radius: 100%;
    display: inline-block;
}