.public_view{
    background: $green-100 url('../img/main-background.jpg') repeat-x;
    background-size: contain;
    background-position: bottom;
    height: 100vh;
    text-align: center;

    &.login_view{
        .banner{margin: 40px 0px 30px 0px;}
        form{margin-top: 50px;}
    }
}