.icon{
    min-width: 20px;
    min-height: 20px;
    width: 80px;
    height: 80px;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    &.icon-favorite{ background-image: url('../img/icons/favorite_color.png'); }
    &.icon-applications{ background-image: url('../img/icons/applications_color.png'); }
    &.icon-companyprofile{ background-image: url('../img/icons/company_profile_color.png'); }
    &.icon-dashboard{ background-image: url('../img/icons/dashboard_color.png'); }
    &.icon-shifts{ background-image: url('../img/icons/shifts_color.png'); }
    &.icon-talents{ background-image: url('../img/icons/talents_color.png'); }
    &.icon-logout{ background-image: url('../img/icons/logout_color.png'); }
}

.svg_img{
    width: 150px;
    height: 70px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.store-icon{
    display: inline-block;
    width: 250px;
    margin-top: 10px;
}