.left_pane{
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 150px;
    background: $green-600;
    text-align: center;
    font-size: 12px;
    color: white;
    li{
        a{
            color: white;
            display: inline-block;
            width: 80px;
            padding-bottom: 1vh;
            .icon{
                display: block;
                margin: auto;
                margin-top: 2vh;
                margin-bottom: 1vh;
                height: 6vh;
                &.icon-sm{
                    width: 40px;
                    height: 40px;
                }
            }
            &.active{
                background: rgba(255,255,255,0.2);
                border-radius: 5px;
            }
        }
    }
}

.right_pane{
    margin-left: 160px;
    width: 100%;
    min-width: 1100px;
    min-height: 98vh;
    padding: 0px 20px 20px 20px;
    background: #edfdff url('../img/main-background.jpg') repeat-x;
    background-size: contain;
    background-position-y: 0px;
    .listcontents{
        max-width: 760px;
        .date-group-label{
            text-align: right;
            margin: 15px 0;
            font-size: 1.7rem;
            font-weight: 100;
        }
        .date-group:nth-child(2){
            .date-group-label{
                margin-top: 0;
            }
        }
    }
}