.location-map{
    height: 170px;
    width: 100%;
    border: 1px solid $green-600;
}

.delete-icon{
 width: 20px;
 margin-left: 20px;
 cursor: pointer;
 right: 10px;
 top: 9px;
 position: absolute;
}

.company-profile{
    .company-logo{
        background-size: cover;
        border: 1px solid #BDBDBD;
        border-radius: 50%;
        padding: 50px 0px;
        width: 130px;
        text-align: center;
        button{
            visibility: hidden;
        }
    }
    .company-logo:hover{
        button{
            visibility: visible;
        }
    }
    .upload-zone{
        height: 150px;
        padding: 40px 0px;
        text-align: center;
        border: 1px solid #BDBDBD;
        margin-bottom: 5px;
    }
}