$green-000: #edfdff;
$green-100: #CCF3F8;
$green-200: #BAE2E7;
$green-300: #76C5D0;
$green-400: #34A2B1;
$green-500: #4B868E;
$green-600: #27666F;

$fuchsia: #B3519E;
$red: #C70404;
$black: #000000;
$grey: #6B7374;
