body{
    overflow-x: hidden;
}
ul{
    margin: 0;
    padding: 0;
    li{ 
        list-style: none; 
    }
}
.btn{
    background: none;
    border: $green-600 1px solid;
    border-radius: 30px;
    padding: 10px 50px;
    font-size: 80%;
    padding: 10px 30px;
    &.btn-primary{
        background: $green-600;
    }
    &.btn-secondary{
        background: grey;
    }
    &.btn-success{
        background: $green-400;
    }
    &.btn-lg{
        font-size: 100%;
        padding: 15px 30px;
    }
}
.badge{ margin: 2px; background: $green-600; color: white;}